$primary: #40BCCF;
$secondary: #AAF0D1;
$neutral-light: #FFF7EE;
$neutral-dark: #383C41;
$yellow: #FFD706;
$yellow-secondary: #9E8401;
$yellow-dark: #E2BE06;
$green: #5BC695;
$red: #FF0606;
$red-dark: #A10203;
$background: #98E3EE;
