.list {
	background-color: $yellow;
	border: 5px solid $yellow-secondary;
	display: none;
	padding: 1rem;
	//height: 90%;
	//max-height: 85vh;
	position: relative;
	z-index: 9000;

	@media (min-width: $laptop) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		height: 72vh;
		overflow-y: scroll;

		gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);
	}

	.list--item {
		background-color: $neutral-light;
		border-radius: 20px;
		height: 100%;
		position: relative;
		width: 100%;
		// Makes div square
		::before {
			content: '';
			float: left;
			padding-top: 100%;
		}
		// ----------------
		.list--item-content {
			align-items: center;
			display: flex;
			justify-content: center;
			img {
				width: 100%;
			}
		}
		&-shop-price {
			background-color: rgba($neutral-dark, .5);
			border-radius: 0 0 20px 20px;
			bottom: 0;
			color: $neutral-light;
			height: 1.5rem;
			padding: .25rem 0 .25rem 10px;
			position: absolute;
			text-align: center;
			text-decoration: none;
			width: 100%;
			&::before {
				background-color: $yellow;
				border: 2px solid $yellow-secondary;
				border-radius: 20px;
				content: '';
				height: 11px;
				padding: 0;
				position: absolute;
				top: 5px;
				transform: translateX(-20px);
				width: 11px;
			}
		}
		&-selected {
			border: 5px solid $green;
			.list--item-shop-price {
				border-radius: 0 0 15px 15px;
			}
		}
	}


	&--open {
		@media (max-width: $laptop) {
			align-items: center;
			bottom: 0;
			display: grid;
			height: 25vh;
			left: 0;
			overflow-x: scroll;
			padding: 2rem;
			position: absolute;
			width: 100%;

			gap: 2rem;
			grid-auto-flow: column;
			.list--item {
				background-color: $neutral-light;
				display: block;
				height: 100px;
				/*height: 50%;
                width: 50%;*/
				width: 100px;
				// Makes div square
				::before {
					content: '';
					float: left;
					padding-top: 100%;
				}
				// ----------------
				img {
					width: 100%;
				}
			}
		}
	}
}
