.list {
	background-color: $yellow;
	border: 5px solid $yellow-secondary;
	display: none;
	padding: 1rem;
	//height: 90%;
	//max-height: 85vh;
	position: relative;
	z-index: 9000;

	@media (min-width: $laptop) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		height: 72vh;
		overflow-y: scroll;

		gap: 1rem;
		grid-auto-rows: minmax(min-content, max-content);
	}
	h2 {
		color: $neutral-dark;
	}
	.list--item {
		background-color: $neutral-light;
		border-radius: 20px;
		height: 100%;
		position: relative;
		width: 100%;
		// Makes div square
		::before {
			content: '';
			float: left;
			padding-top: 100%;
		}
		// ----------------
		.list--item-content {
			align-items: center;
			display: flex;
			justify-content: center;
			img {
				width: 100%;
			}
		}
		&-shop-price {
			background-color: rgba($neutral-dark, .5);
			border-radius: 0 0 20px 20px;
			bottom: 0;
			color: $neutral-light;
			height: 1.5rem;
			padding: .25rem 0 .25rem 10px;
			position: absolute;
			text-align: center;
			text-decoration: none;
			width: 100%;
			&::before {
				background-color: $yellow;
				border: 2px solid $yellow-secondary;
				border-radius: 20px;
				content: '';
				height: 11px;
				padding: 0;
				position: absolute;
				top: 5px;
				transform: translateX(-20px);
				width: 11px;
			}
		}
		&-selected {
			border: 5px solid $green;
			.list--item-shop-price {
				border-radius: 0 0 15px 15px;
			}
		}
	}


	&--open {
		@media (max-width: $laptop) {
			align-items: center;
			bottom: 0;
			display: grid;
			height: 25vh;
			left: 0;
			overflow-x: scroll;
			padding: 2rem;
			position: absolute;
			width: 100%;

			gap: 2rem;
			grid-auto-flow: column;
			.list--item {
				background-color: $neutral-light;
				display: block;
				height: 100px;
				/*height: 50%;
                width: 50%;*/
				width: 100px;
				// Makes div square
				/*::before {
					content: '';
					float: left;
					padding-top: 100%;
				}*/
				// ----------------
				img {
					width: 100%;
				}
			}
		}
	}
}

.list-assignments {
	grid-template-columns: 1fr 1fr;
	padding-top: 1.5em;
	@media (min-width: $laptop) {
		grid-template-columns: 1fr 1fr;
	}
	.list--item-autoheight {
		::before {
			content: none;
		}
	}
	.list--item {
		height: auto;
		width: auto;
	}
	.list--item-assignments {
		border-radius: 0;
		&Content-reward {
			background-color: $secondary;
			border: 2px solid $green;
			border-radius: 30px;
			bottom: 0;
			font-size: 1rem;
			padding: .5rem 1rem .5rem 2rem;
			position: absolute;
			right: 2rem;
			transform: translateY(50%);
			&::before {
				background-color: $yellow;
				border: 2px solid $yellow-secondary;
				border-radius: 20px;
				content: '';
				height: 11px;
				padding: 0;
				position: absolute;
				top: calc(25% + 1px);
				transform: translateX(-20px);
				width: 11px;
			}
		}
		&Completed {
			background-color: $primary;
			border: 2px solid $background;
			border-radius: 30px;
			color: $neutral-light;
			font-size: 1.25rem;
			padding: .5em 0;
			text-decoration: none;

			grid-column: 1 / 3;
			&Content {
				background-color: $secondary;
				border: none;
				border-radius: 15px;
				color: $neutral-dark;
				margin-bottom: 1rem;
				padding: .5rem 1rem;
				position: relative;
				&-reward {
					margin-left: 20px;
					position: relative;
					&::before {
						background-color: $yellow;
						border: 2px solid $yellow-secondary;
						border-radius: 20px;
						content: '';
						height: 11px;
						padding: 0;
						position: absolute;
						top: 5px;
						transform: translateX(-20px);
						width: 11px;
					}
				}
			}
			&Claim {
				background-color: $green;
				border-radius: 30px;
				bottom: -1rem;
				color: $neutral-light;
				font-size: 1rem;
				height: 2rem;
				left: 0;
				margin-left: auto;
				margin-right: auto;
				padding: .5rem 3rem;
				position: absolute;
				right: 0;
				text-decoration: none;
				width: max-content;
			}
		}
		&Title {
			background-color: $neutral-dark;
			bottom: 0;
			color: $neutral-light;
			font-size: 1.5rem;
			height: 2.5rem;
			padding: .5rem 0;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}

	.newCompleted {
		background-color: $green;
		border: 2px solid $secondary;
		border-radius: 30px;
		color: $secondary;
		font-size: 1rem;
		height: 1.5rem;
		position: absolute;
		right: 1rem;
		text-align: center;
		top: -.75rem;
		width: 1.5rem;
	}
	&--open {
		grid-auto-flow: row;
		@media (max-width: $laptop) {
			height: 65vh;
		}
		.list--item {
			width: auto;
		}
	}
}
