.menu{
    height: 15vh;
    width: 100%;
    display: flex;
    .coin{
        display: flex;
        align-items: center;
        color: $neutral-dark;
        img{
            height: 100%;
            width: auto;
        }
        .coin--amount{
            font-size: 2em;
            margin-left: .2em;
        }
    }
    .logout{
        display: flex;
        align-items: center;
        justify-content: end;
        img{
            height: 100%;
            width: auto;
        }
    }
    .menu--item{
        flex: 1;
        margin: 1em;
    }
}