
.nav {
	bottom: 0;
	display: flex;
	height: 10vh;
	position: absolute;
	width: 100%;

	@media (min-width: $laptop) {
		height: 10vh;
		position: relative;
	}
	&.nav--open {
		.nav--item {
			background-color: $yellow-dark;
		}
	}
	.nav--item,
	.nav--back {
		align-items: center;
		background-color: $yellow;
		border: 5px solid $yellow-secondary;
		border-bottom: 0;
		border-radius: 30px 30px 0 0;
		display: flex;
		flex: 1;
		justify-content: center;
		z-index: 9000;
		@media (min-width: $laptop) {
			background-color: $yellow-dark;
			transform: translateY(40%);
			transition: all .25s;
			z-index: 1;
			&:hover {
				transform: translateY(0%);
			}
		}
		&.active {
			background-color: $yellow;
			border-bottom: 0;
			position: relative;
			transform: translateY(0);
			z-index: 9002;
			&:after {
				background-color: $yellow;
				bottom: -5px;
				content: '';
				height: 5px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
		img {
			height: 100%;
			width: auto;
		}
	}

	&--open {
		@media (max-width: $laptop) {
			bottom: 25vh;
		}
	}
}

.nav-back {
	bottom: auto;
	display: none;
	height: 10vh;
	position: absolute;
	right: 2rem;
	top: 5vh;
	visibility: visible;
	width: max-content;
	z-index: 10000000;
	&:hover {
		transform: none;
	}
	.nav--back {
		background-color: $red;
		border: 5px solid $red-dark;
		border-radius: 15px 15px 15px 15px;
		@media (min-width: $laptop) {
			transform: translateY(0);
		}
	}
	&--open {
		@media (max-width: $laptop) {
			bottom: 20vh;
			top: auto;
		}
	}
}

.nav-assignments {
	&--open {
		@media (max-width: $laptop) {
			bottom: 65vh;
			top: auto;
		}
	}
}

.nav-backAssignments {
	&--open {
		@media (max-width: $laptop) {
			bottom: 60vh;
			top: auto;
		}
	}
}
