.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  width: 100%;
}

.menu .coin {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383C41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .coin img {
  height: 100%;
  width: auto;
}

.menu .coin .coin--amount {
  font-size: 2em;
  margin-left: .2em;
}

.menu .logout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu .logout img {
  height: 100%;
  width: auto;
}

.menu .menu--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1em;
}

.character {
  height: 100%;
  max-height: 85vh;
  width: auto;
}

@media (min-width: 1024px) {
  .character {
    height: auto;
  }
}

.character-alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.character-alignment img {
  height: 100%;
  width: auto;
}

.character--pedestal {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.character-clothes {
  height: 100%;
  position: absolute;
  width: 100%;
}

.character--hats {
  z-index: 14;
}

.character--facewear {
  z-index: 13;
}

.character--shoes {
  z-index: 9;
}

.character--shirts {
  z-index: 14;
}

.character--pants {
  z-index: 12;
}

.character--hair {
  z-index: 7;
}

.character--mouths, .character--noses, .character--eyes, .character--brows {
  z-index: 8;
}

.character--face {
  z-index: 6;
}

.character--neck {
  z-index: 5;
}

.character--arms {
  z-index: 13;
}

.character--torsos {
  z-index: 3;
}

.character--legs {
  z-index: 2;
}

.character--feet {
  z-index: 1;
}

.nav {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  position: absolute;
  width: 100%;
}

@media (min-width: 1024px) {
  .nav {
    height: 10vh;
    position: relative;
  }
}

.nav.nav--open .nav--item {
  background-color: #E2BE06;
}

.nav .nav--item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFD706;
  border: 5px solid #9E8401;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9000;
}

@media (min-width: 1024px) {
  .nav .nav--item {
    background-color: #E2BE06;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 1;
  }
  .nav .nav--item:hover {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.nav .nav--item.active {
  background-color: #FFD706;
  border-bottom: 0;
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 9002;
}

.nav .nav--item.active:after {
  background-color: #FFD706;
  bottom: -5px;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}

.nav .nav--item img {
  height: 100%;
  width: auto;
}

@media (max-width: 1024px) {
  .nav--open {
    bottom: 25vh;
  }
}

@media (max-width: 1024px) {
  .nav-assignments--open {
    bottom: 65vh;
  }
}

.list {
  background-color: #FFD706;
  border: 5px solid #9E8401;
  display: none;
  padding: 1rem;
  position: relative;
  z-index: 9000;
}

@media (min-width: 1024px) {
  .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 72vh;
    overflow-y: scroll;
    gap: 1rem;
    grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
    grid-auto-rows: minmax(min-content, max-content);
  }
}

.list h2 {
  color: #383C41;
}

.list .list--item {
  background-color: #FFF7EE;
  border-radius: 20px;
  height: 100%;
  position: relative;
  width: 100%;
}

.list .list--item ::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.list .list--item .list--item-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .list--item .list--item-content img {
  width: 100%;
}

.list .list--item-shop-price {
  background-color: rgba(56, 60, 65, 0.5);
  border-radius: 0 0 20px 20px;
  bottom: 0;
  color: #FFF7EE;
  height: 1.5rem;
  padding: .25rem 0 .25rem 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.list .list--item-shop-price::before {
  background-color: #FFD706;
  border: 2px solid #9E8401;
  border-radius: 20px;
  content: '';
  height: 11px;
  padding: 0;
  position: absolute;
  top: 5px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  width: 11px;
}

.list .list--item-selected {
  border: 5px solid #5BC695;
}

.list .list--item-selected .list--item-shop-price {
  border-radius: 0 0 15px 15px;
}

@media (max-width: 1024px) {
  .list--open {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    display: -ms-grid;
    display: grid;
    height: 25vh;
    left: 0;
    overflow-x: scroll;
    padding: 2rem;
    position: absolute;
    width: 100%;
    gap: 2rem;
    grid-auto-flow: column;
  }
  .list--open .list--item {
    background-color: #FFF7EE;
    display: block;
    height: 100px;
    /*height: 50%;
                width: 50%;*/
    width: 100px;
    /*::before {
					content: '';
					float: left;
					padding-top: 100%;
				}*/
  }
  .list--open .list--item img {
    width: 100%;
  }
}

.list-assignments {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 1.5em;
}

@media (min-width: 1024px) {
  .list-assignments {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.list-assignments .list--item-autoheight ::before {
  content: none;
}

.list-assignments .list--item {
  height: auto;
  width: auto;
}

.list-assignments .list--item-assignments {
  border-radius: 0;
}

.list-assignments .list--item-assignmentsContent-reward {
  background-color: #AAF0D1;
  border: 2px solid #5BC695;
  border-radius: 30px;
  bottom: 0;
  font-size: 1rem;
  padding: .5rem 1rem .5rem 2rem;
  position: absolute;
  right: 2rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.list-assignments .list--item-assignmentsContent-reward::before {
  background-color: #FFD706;
  border: 2px solid #9E8401;
  border-radius: 20px;
  content: '';
  height: 11px;
  padding: 0;
  position: absolute;
  top: calc(25% + 1px);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  width: 11px;
}

.list-assignments .list--item-assignmentsCompleted {
  background-color: #40BCCF;
  border: 2px solid #98E3EE;
  border-radius: 30px;
  color: #FFF7EE;
  font-size: 1.25rem;
  padding: .5em 0;
  text-decoration: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.list-assignments .list--item-assignmentsCompletedContent {
  background-color: #AAF0D1;
  border: none;
  border-radius: 15px;
  color: #383C41;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  position: relative;
}

.list-assignments .list--item-assignmentsCompletedContent-reward {
  margin-left: 20px;
  position: relative;
}

.list-assignments .list--item-assignmentsCompletedContent-reward::before {
  background-color: #FFD706;
  border: 2px solid #9E8401;
  border-radius: 20px;
  content: '';
  height: 11px;
  padding: 0;
  position: absolute;
  top: 5px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  width: 11px;
}

.list-assignments .list--item-assignmentsCompletedClaim {
  background-color: #5BC695;
  border-radius: 30px;
  bottom: -1rem;
  color: #FFF7EE;
  font-size: 1rem;
  height: 2rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 3rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.list-assignments .list--item-assignmentsTitle {
  background-color: #383C41;
  bottom: 0;
  color: #FFF7EE;
  font-size: 1.5rem;
  height: 2.5rem;
  padding: .5rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.list-assignments .newCompleted {
  background-color: #5BC695;
  border: 2px solid #AAF0D1;
  border-radius: 30px;
  color: #AAF0D1;
  font-size: 1rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  text-align: center;
  top: -.75rem;
  width: 1.5rem;
}

.list-assignments--open {
  grid-auto-flow: row;
}

@media (max-width: 1024px) {
  .list-assignments--open {
    height: 65vh;
  }
}

.list-assignments--open .list--item {
  width: auto;
}

.popup,
.popup-smileys {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(56, 60, 65, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 90000;
}

.popup .popup-box,
.popup-smileys .popup-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFD706;
  border: 5px solid #9E8401;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.popup .popup-descriptionContent,
.popup-smileys .popup-descriptionContent {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 70%;
  max-height: 70%;
  overflow: scroll;
  padding: 1rem;
}

.popup .popup-buttons,
.popup-smileys .popup-buttons {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  width: 100%;
}

.popup .popup-buttons .button,
.popup-smileys .popup-buttons .button {
  border-radius: 300px;
  display: inline-block;
  padding: .5rem 2.5rem;
  text-decoration: none;
}

.popup .popup-buttons .button-box,
.popup-smileys .popup-buttons .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup .popup-buttons .button-accept,
.popup-smileys .popup-buttons .button-accept {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #AAF0D1;
  border: 2px solid #5BC695;
  color: #383C41;
  margin-right: 5rem;
}

.popup .popup-buttons .button-decline,
.popup-smileys .popup-buttons .button-decline {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #FF0606;
  border: 2px solid #A10203;
  color: #FFF7EE;
  margin-left: 5rem;
}

.popup .popup-buttons-description,
.popup-smileys .popup-buttons-description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-smileys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-smileys .popup-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-smileys .popup-box .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.popup-smileys .popup-box .button-box .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF7EE;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.popup-smileys .popup-box .button-box .button svg {
  display: block;
  margin: auto;
}

.popup-smileys .popup-box .button-box .button-smileys {
  background-color: #AAF0D1;
  height: 2.5rem;
  margin: 0;
  width: 50%;
}

.popup-smileys .smileys__explain {
  display: none;
}

.popup-smileys .smileys__explain h2,
.popup-smileys .smileys__explain .popup-buttons,
.popup-smileys .smileys__explain .smileys-explainText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-smileys .smileys-explainText {
  width: 80%;
}

.popup-smileys #smileys-explainText {
  padding: 1rem;
  resize: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: #98E3EE;
}

main {
  display: block;
  height: 85vh;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: .8;
        -ms-flex: .8;
            flex: .8;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
}

main .main--item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.button-buy {
  background-color: #FFD706;
  border: 2px solid #E2BE06;
  border-radius: 300px;
  bottom: 12rem;
  color: #383C41;
  display: none;
  padding: .5rem 3rem;
  position: absolute;
  text-decoration: none;
  z-index: 1000;
}
/*# sourceMappingURL=style.css.map */