@import 'colors';
@import 'screen-sizes';
@import 'menu';
@import 'character';
@import 'navigation';
@import 'list';
@import 'popup';
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
html {
	background-color: $background;
}

main {
	display: block;
	height: 85vh;
	padding-right: 1rem;
	@media (min-width: $laptop) {
		display: flex;
		flex: .8;
		flex-direction: row;
		height: 100%;
	}
	.main--item {
		flex: 1;
	}
}

.button-buy {
	background-color: $yellow;
	border: 2px solid $yellow-dark;
	border-radius: 300px;
	bottom: 12rem;
	color: $neutral-dark;
	display: none;
	padding: .5rem 3rem;
	position: absolute;
	text-decoration: none;
	z-index: 1000;
}
