@import 'colors';
@import 'screen-sizes';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: #98E3EE;
}
.desktop{
    display: none;
}
.menu{
    height: 10vh;
    width: 100%;
    display: flex;
    .coin{
        display: flex;
        align-items: center;
        color: $neutral-dark;
        img{
            height: 100%;
            width: auto;
        }
        .coin--amount{
            font-size: 2em;
            margin-left: .2em;
        }
    }
    .logout{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .menu--item{
        flex: 1;
        margin: 1em;
    }
}
main{
    display: block;
    .nav--main{
        .nav{
            height: 10vh;
            width: 100%;
            display: flex;
            bottom: 0;
            position: absolute;
            .nav--item{
                flex: 1;
                background-color: $yellow;
                border-radius: 30px 30px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 5px solid $yellow-secondary;
                border-bottom: 0;
            }
        }
    }
}

@media (min-width: $laptop){
    .desktop{
        display: block;
    }
    main{
        display: flex;
        flex-direction: row;
        height: 90vh;
        padding-right: 1em;
        padding-bottom: 1em;
        .main--item{
            flex: 1;
        }
        .nav--main{
            flex: .8;
            height: 100%;
            .nav{
                position: relative;
                height: 10%;
                .nav--item{
                    transform: translateY(40%);
                    background-color: $yellow-dark;
                    z-index: 1;
                }
                .active{
                    background-color: $yellow;
                    transform: translateY(0);
                    border-bottom: 0;
                }
            }
            .list{
                height: 90%;
                background-color: $yellow;
                border: 5px solid $yellow-secondary;
                z-index: 2;
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 1em;
                padding: 1em;
                overflow-y: scroll;
                grid-auto-rows: minmax(min-content, max-content);
                .list--item{
                    background-color: $neutral-light;
                    position: relative;
                    width: 100%;
                    border-radius: 20px;
                    // Makes div square
                    ::before{
                        content: "";
                        float: left;
                        padding-top: 100%; 
                    }
                    // ----------------
                    .list--item-content{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                        }
                    }
                }
                .list--item-selected{
                    border: 5px solid $green;
                }
            }
        }
    }
}